body {
    font-size: 16px;
    color: black;
    background-color: white;
    font-family: 'Oxygen', sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color:grey;
    border-radius: 0;
    border: 0;
  }
    
  .navbar-brand {
    padding-top: 25px;
  }
  
  .navbar-brand h1 { /* Restaurant name */
    font-family: 'Lora', serif;
    color: black;
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
  }

  #nav-list {
    margin-top: 10px;  
  }

  #nav-list a {
    color: black;
    text-align: center;
    background-color: gray;
  }

  #nav-list a:hover {
    background: #E7E7E7;
  }

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid white;
}

.navbar-header button.navbar-toggle{
  clear: both;
}


#chicken-tile, #beef-tile, #sushi-tile{
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-color: gray;
  color: black;
}

#chicken-tile:hover, #beef-tile:hover, #sushi-tile:hover{
  box-shadow: 0 1px 5px 1px #cccccc;
}

#chicken-tile h3, #beef-tile h3, #sushi-tile h3{
    text-align: center; 
}

#chicken-tile p, #beef-tile p, #sushi-tile p{
 padding: 10px 10px 10px 10px;
}

  /* END HEADER */

/********** Extra small devices only **********/
@media (max-width: 767px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
    
}

/********** Large devices only **********/
@media (min-width: 1200px) {
  .navbar-brand{
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1{
    padding-top: 10px;
    font-size: 5vw;
  }
  .navbar-brand p{
    font-size: .6em;
    margin-top: 12px;
  }
  .navbar-brand p img{
    height: 20px;
  }
}